{% extends 'core/base.html' %}

{% block title %} Randomizer {% endblock %}

{% block content %}

        <div class="p-10 bg-white shadow-lg rounded-xl text-center hover:shadow-xl transition-shadow duration-300 ease-in-out">
        <div class="mb-8">
            <h2 class="text-4xl font-bold text-gray-800 mb-4">Currently being developed</h2>
            <p class="text-xl text-gray-600">Hello! This feature is being developed. It will be available in no time! </p>
        </div>
    </div>


{% endblock content %}
