<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} Django Chat App</title>
    <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://accounts.google.com/gsi/client" async defer></script>

    <style>
        .chat-messages {
            height: 400px;
            overflow-y: auto;
        }
        
    </style>
  </head>
  <body class="min-h-screen bg-gradient-to-r from-blue-500 to-teal-500">
    <header>
        <nav class="flex items-center justify-between px-4 py-6 bg-blue-800 text-white shadow-lg"> <!-- Enhanced navbar appearance -->
            <div>
              {% if request.user.is_authenticated %}
                <a href="/" class="text-3xl font-bold bg-blue-500 hover:bg-blue-700 px-5 py-3 rounded transition duration-300 ease-in-out">Django Chat Website</a> <!-- Increased font size and padding for better visibility -->
              {% else %}
                <a href="/" class="text-3xl font-bold bg-blue-500 hover:bg-blue-700 px-5 py-3 rounded transition duration-300 ease-in-out">Django Chat Website</a>
              {% endif %}
            </div>

            <div>
                {% if request.user.is_authenticated %}
                <a href="{% url 'rooms' %}" class="text-xl bg-blue-500 hover:bg-green-700 px-4 py-2 rounded transition duration-300 ease-in-out">Rooms</a> <!-- Harmonized hover effect -->
                <a href="{% url 'logout' %}" class="text-xl bg-blue-500 hover:bg-red-600 px-4 py-2 rounded transition duration-300 ease-in-out ml-4">Log Out</a> <!-- Added logout button color change on hover for visual feedback -->
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="text-center py-4 text-white mt-8">
        &copy; 2024 Your Website. All rights reserved.
    </footer>
    {% block scripts %}{% endblock %}
  </body>
</html>
